@media only screen and (max-width: 600px) {
    div#checkbox {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 600px) {
    div#checkbox {
        grid-template-columns: 1fr 1fr;
    }
}

div#checkbox {
    padding: 10px;
    width: 100%;
    display: grid;
}

div#generate {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}